link(href='/assets/css/main-page.css' rel='stylesheet')

#main-card.card
    .card-body
        .content-header 
            include /assets/pug/user-profile
        .main-card-title
            h5.card-title
                a(href="https://www.youtube.com/watch?v=4Qn49CBmd9M&t=189s") 
                    | Suni Lee DELIVERS on the floor to win all-around gold for USA | Tokyo Olympics | NBC Sports
        .row.main-card-content 
            iframe(width='1060' height='573' 
                src='https://www.youtube.com/embed/4Qn49CBmd9M' 
                title='YouTube video player' frameborder='0' 
                allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture' 
                allowfullscreen='')
        .row.main-card-meta
            include /assets/pug/main-card/main-card-footer.pug
            