#main-card.card
    .card-body
        .main-card-title
            h5.card-title=article.title
        .row.main-card-content 
            p.card-text=article.content
        .row.main-card-meta
            include /assets/pug/main-card/main-card-footer.pug