
head
	meta(charset='UTF-8')
	meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
	meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
	
	link(href='https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap' rel='stylesheet')
	// the order matters due to css vars
	link(rel='stylesheet' href='/assets/css/stylize.css')
	link(rel='stylesheet' href='/assets/index.css')
	link(rel='stylesheet' href='/assets/cssNav/nav.css')
	script.
		document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')

body
	header
		include ../../layout/nav

	main.wrap
		p oh hi A
		p oh hi 2
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi
		p oh hi 
		p oh hi 
		p oh hi  
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 

	footer
		address.center
			small
				a.reset(href='https://twitter.com/vsnthv' target='_blank') Vasanth V
