doctype html

head

body
	p oh hi foo

	two-tag(message='msg')
		p Slot at end?
	
	script(type='module').
		import { EventBusSingleton } from 'https://cdn.jsdelivr.net/npm/axthe@0.1.4/CDN/js/leb/index.js'
