<two-tag>
	<p>Tag # 12</p>
	<p>{props.message}</p>
	<p>Tag # 12</p>
	
	<slot/>


	<script>
		import { EventBusSingleton } from 'https://cdn.jsdelivr.net/npm/axthe@0.1.4/CDN/js/leb/index.js'

		export default {
			// the message property will be automatically updated anytime the DOM `message` attribute will change
			observedAttributes: ['message']
		}
	</script>
</two-tag>