
{
	servers {
		protocol {
			experimental_http3
		}
	}
}
# you shold be comfortable seting up DNS subdomains to Caddy
# caddy stop, start, validate
## #################################################### 

1.justinpacquing.me {
	respond "hi"
}

# admin
a.axthe.net {
	reverse_proxy localhost:9090
}

justinpacquing.me, app.urbanitymag.com {
	reverse_proxy localhost:8080
}
