{
	servers {
		protocol {
			experimental_http3
		}
	}
}
# caddy stop, start, validate
## ###################################################


1.axthe.net, 1.cekvenich.net, :8091  {
	respond "hi"
}


2.axthe.net, 2.cekvenich.net, :8092 {
	root * ./www
	file_server
}


# admin
a.axthe.net, a.cekvenich.net, :8093  {
	reverse_proxy localhost:9090
}


myapp.axthe.net, myapp.cekvenich.net, :8094 {
	reverse_proxy localhost:8080
}


mycapp.axthe.net, mycapp.cekvenich.net, :8095 {
	root * ./myCORSApp/dist
	file_server
}