---
site_title: My First Eleventy Site
---
doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		title {{ site_title }}
	body
		h1 {{ site_title }}
		hr
		| {{ content | safe }}
		hr
		small
		| by
		a(href='https://codingthesmartway.com') CodingTheSmartWay.com
