.comment-section-wrap.card
    .comment-section-outer.card-body
        .row 
            .comment-section__input
                textarea.comment-section__textarea(placeholder="What do you think?")
                .comment-section__textarea-footer
                    p placeholder
        .row 
            include /assets/pug/comment-singular.pug