.comment-singular-wrap 
    .comment-singular-outer 
        .row.comment-singular-inner 
            .col-md-2.comment-singular__profile-pic 
                img.profile-pic(src="/assets/img/default-avatar-icon.jpg")
            .col-md-10.comment-singular__content
                .row.comment-singular__profile-name
                    p name 
                .row.comment-singular__comment-content
                    p comment
        .row.comment-singular__comment-divider-wrap
            .col-md-1 
                p
            .col-md-10.comment-singular__comment-divider 
                p
            .col-md-1 
                p
