link(rel='stylesheet' href='/assets/css/main-page.css')

.col.cr-eula-main-inner
    p.copyright © 2021 Urbanity
    .eula-links 
        a(href="") Privacy Policy 
    .eula-links 
        a(href="") Terms of Service
    .eula-links 
        a(href="") Payment Processing 
    .eula-links 
        a(href="") EULA