link(rel='stylesheet' href='/assets/css/main-page.css')

.profile
    a(href="") 
        img.profile-pic(src='/assets/img/default-avatar-icon.jpg' href=' ')
    a.profile-name(href="") 
        span John Smith
    span.profile-metadata
        p.type Article
        p.spacer .
        p.postage an hour ago
    