html(lang='en')
	head
		meta(charset='UTF-8')
		meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
		meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
		
		link(href='https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap' rel='stylesheet')
	body
		p oh hi
		.container
			p Pages 2to open (this example is very similar to express.js generator, except AXthe names pug files as index.pug, so you use sub-folders to name the url): 
			a(href='/data2') A sample get route, take a look at lib to see how it works.
			br
			a(href='/landing/a') An example landing page

		script(src="./assets/dummy.js")  // <== need brackets here
		link(rel='stylesheet' href='./assets/bs5/style.scss')
