doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
	body
		p oh hi foo:

		<!-- specify the end point as attribute -->
		my-form(ep='http://localhost:8080/api/form1')
			label(for='fname') First name:
			input#fname(type='text' name='fname' value='John')

			label(for='lname') Last name:
			input#lname(type='text' name='lname' value='Doe')

			input#but1(type='submit' value='Submit')

		script(src='./MyForm.js' type='module')
