
head
	include ../../layout/head
body
	include ../../layout/botHeader
	
	.narrow
		p oh hi
		//- just an import:
		include itemMix
		span #{items}
		for i in items
			+itemMix(i.name)

		+itemMix('one')
		+itemMix('two')

	include ../../layout/footer