doctype html
html
  head
    link(href='../../assets/style.css' rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script.
      $(document).ready(function(){
      articleId = 'third'
      ex = [articleId]
      if($('#' + articleId).parent().length && $('#' + articleId).parent().attr("class")){
        nestList = $('#' + articleId).parent().attr("class").split(/\s+/);
            $.each(nestList, function(index, value){
              if (value != 'nested') ex.push(value);
      })
      }
      console.log(ex)
      $.ajax({
      url: "/api/articles",
      data: {articles: ex }, 
      success: function(result){
      $("#nested-" + articleId).addClass(ex.toString().replace(',',' ')).html(result);
      }});
      });
  body
    main#third.container
      .p-4.p-md-5.mb-4.text-white.rounded.bg-dark
        .col-md-6.px-0
          h1.display-4.fst-italic Third Blog Post
          p.lead.my-3 January 1, 2021 by 
              a(href='#') Mark
      .row.g-5
        .col-md-12
          article.blog-post
            p This blog post shows a few different types of content that’s supported and styled with Bootstrap. Basic typography, lists, tables, images, code, and more are all supported as expected.
            hr
            p This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.
            h2 Blockquotes
            p This is an example blockquote in action:
            blockquote.blockquote
              p Quoted text goes here.
            p This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.
            h3 Example lists
            p This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout. This is an example unordered list:
            ul
              li First list item
              li Second list item with a longer description
              li Third list item to close it out
            p And this is an ordered list:
            ol
              li First list item
              li Second list item with a longer description
              li Third list item to close it out
            p And this is a definiton list:
            dl
              dt HyperText Markup Language (HTML)
              dd The language used to describe and define the content of a Web page
              dt Cascading Style Sheets (CSS)
              dd Used to describe the appearance of Web content
              dt JavaScript (JS)
              dd The programming language used to build advanced Web sites and applications
            p This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.
            h3 Sub-heading
            p This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.
            pre
              code Example code block
            p This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.
    #nested-third
//-
  doctype html
  html
    head
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
      script.
        $(document).ready(function(){
        articleId = 'third'
        ex = [articleId]
        if($('#' + articleId).parent().length && $('#' + articleId).parent().attr("class")){
          nestList = $('#' + articleId).parent().attr("class").split(/\s+/);
              $.each(nestList, function(index, value){
                if (value != 'nested') ex.push(value);
        })
        }
        console.log(ex)
        $.ajax({
        url: "/api/articles",
        data: {articles: ex }, 
        success: function(result){
        console.log(result)
        $("#nested-" + articleId).addClass(ex.toString().replace(',',' ')).html(result);
        }});
        });
    body
      h1#third third
      p Welcome to third
      #nested-
//-
    script.
      $(document).ready(function(){
      articleId = 'first'
      ex = [articleId]
      if($('#' + articleId).parent().length && $('#' + articleId).parent().attr("class")){
        nestList = $('#' + articleId).parent().attr("class").split(/\s+/);
            $.each(nestList, function(index, value){
              if (value != 'nested') ex.push(value);
      })
      }
      console.log(ex)
      $.ajax({
      url: "/api/articles",
      data: {articles: ex }, 
      success: function(result){
      console.log(result)
      $("#nested-" + articleId).addClass(ex.toString().replace(',',' ')).html(result);
      }});
      });