link(href='/assets/css/main-page.css' rel='stylesheet')

.side-card
    .card-body
        //- input#collapsible.toggle(type="checkbox")
            label.content-label-toggle(for="collapsible") 
            
            //
        .row.side-card-user
            .col-md-3
                a(href="") 
                    img.side-card-profile-pic(src='/assets/img/default-avatar-icon.jpg' href=' ')
            .col-md-9.side-card-profile-text
                a.side-card-profile-name(href="") 
                    |John Smith
        .row.side-card-links 
            .ul
                .li 
                    a(href="") Homepage 
                .li 
                    a(href="") My Profile
                .li 
                    a(href="") Explore
                .li 
                    a(href="") Categories
                .li 
                    a(href="") Notifications 
                .li 
                    a(href="") Saved Posts
        .row.cr-eula-main 
            include /assets/pug/cr-eula.pug


        