link(rel='stylesheet' href='/assets/css/header.css')

header
    .navbar.navbar-dark.bg-dark.shadow-sm
        .container
            a.navbar-brand.d-flex.align-items-center(href='#')
                strong Urbanity
            button.createButton 
            span.searchbox 
                input(type='text' name='search-query' placeholder=' Search for stories, articles, content ...')
    .scrolling-headline  
        .scrolling-content  
            p test1 
            p test2 
            p test3 
            p test4 

            //- p test5