link(rel='stylesheet' href='/assets/css/header.css')

header.header-container
    .navbar.navbar-dark.bg-dark.shadow-sm
        .container.header-container
            .row.header-row 
                .col-md-2.header-logo
                    a.navbar-brand.d-flex.align-items-center(href='/landing/a')
                        strong Urbanity
                .col-md-8
                    .row.header-assets-outer
                        .col-md-12.d-flex.justify-content-end.header-assets-inner
                            .ha-inner1
                                form.search-bar
                                    input.search-bar-input(type='search' 
                                        name='search-query' placeholder='')
                .col-md-2
    .scrolling-headline  
        .scrolling-content  
            p test1 
            p test2 
            p test3 
            p test4 

            //- p test5