head
	meta(charset='UTF-8')
	meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
	meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
	
	link(href='https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap' rel='stylesheet')
	link(rel='stylesheet' href='/assets/css/style.css')
body
	p oh hi
	.narrow
		p Some pages to open (this example is very similar to express.js generator, except AXthe names pug files as index.pug, so you use sub-folders to name the url): 
		a(href='/1data') A sample get route, take a look at lib to see how it works.
		br
		a(href='/form') A sample post form
		br
		a(href='/assets/css') An off the shelf classess css
		br
		a(href='/assets/cssNav') An off the shelf drop down menu: Your should customize it! Navigation is imporant to UX, and sooner or later you'll need to master it.
		br
		a(href='/landing/a') An example landing page