- var articles =  JSON.parse(articles)
if articles.length
	each article in articles 
		include /assets/pug/main-card/main-card-template.pug
	- var start = end + 1
		div(id='load-more'+ start)
			script.
				$(document).ready(function(){
					$(window).scroll(function () {
							if ($(window).height() + $(window).scrollTop() == $(document).height() && $('#load-more' + #{start}).length) {
								$.ajax({
									url: "/api/articles?start=" + #{start}, 
									success: function(result){
										$('#load-more' + #{start}).replaceWith(result);
								}});
							}
						}); 	
					});
else 
	p No More Articles :)
