head
	meta(charset='UTF-8')
	meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
	meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

	link(href='../../assets/css/style.css' rel='stylesheet')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
body

		
		main
			section.py-5.text-center.container
				.row.py-lg-5
					.col-lg-6.col-md-8.mx-auto
						h1.fw-light Urbanity Articles
						p.lead.text-muted Articles from Urbanity
			.row
				.col-md-2
					.side-bar 
						include /assets/pug/side-card/side-card.pug
				.col-md-2
					include /assets/pug/content-entry-with-post.pug
				.col-sm-8
					- var articles =  JSON.parse(articles)
					each article in articles 
						include /assets/pug/main-card/main-card-template.pug

		footer.text-muted.py-5
			.container
				p.float-end.mb-1
					a(href='#') Back to top
				p.mb-1 Album example is &copy; Bootstrap, but please download and customize it for yourself!
				p.mb-0 New to Bootstrap? 
					a(href='/') Visit the homepage
					| or read our
					a(href='../getting-started/introduction/') getting started guide
					| .
