
head
	include ../../includes/head

body
	include ../../layout/header

	main
		p oh hi 1
		p oh hi 2
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi 
		p oh hi
		p oh hi 
		p oh hi 
		p oh hi  
		p oh hi 
		p oh hi 
		p oh hi 

	include ../../layout/footer

