.side-bar-wrap
    input.toggle#side-bar-toggle__input(type="checkbox")
    label.side-bar-toggle__text(for="side-bar-toggle__input") Click
    .side-bar-collapsible.card-body
        .side-bar-collapsible-inner
            .row.side-bar-user-info
                .col-md-3.side-bar-user-info__img
                    a(href="") 
                        img(src='/assets/img/default-avatar-icon.jpg' href=' ')
                .col-md-9.side-bar-user-info__name
                    a(href="") John Smith
            .row.side-bar-links 
                .ul.side-bar-links-inner
                    .li.side-bar-links__button
                        a(href="") Homepage 
                    .li.side-bar-links__button
                        a(href="") My Profile
                    .li.side-bar-links__button
                        a(href="") Explore
                    .li.side-bar-links__button
                        a(href="") Categories
                    .li.side-bar-links__button
                        a(href="") Notifications 
                    .li.side-bar-links__button
                        a(href="") Saved Posts
        .cr-eula-wrap 
            include /assets/pug/cr-eula.pug


            