.side-bar-wrap#side-bar
    a.side-bar-closebtn(onclick="closeNav()") &times;
    .side-bar-body.card-body
        .row.side-bar-user-info
            .col-md-1 
            .col-md-1.side-bar-user-info__img
                a(href="") 
                    img(src='/assets/img/default-avatar-icon.jpg' href=' ')
            .col-md-2
            .col-md-6.side-bar-user-info__name
                a(href="") John Smith
            .col-md-2
        .row.side-bar-links 
            .ul.side-bar-links-inner
                .li.side-bar-links__button
                    a(href="") Homepage 
                .li.side-bar-links__button
                    a(href="") My Profile
                .li.side-bar-links__button
                    a(href="") Explore
                .li.side-bar-links__button
                    a(href="") Categories
                .li.side-bar-links__button
                    a(href="") Notifications 
                .li.side-bar-links__button
                    a(href="") Saved Posts
        .row.cr-eula-wrap 
            include /assets/pug/cr-eula.pug


            