doctype html

head

body
	p oh hi foo:

	my-form(ep='https://localhost:8080/api/form1')
		label(for='fname') First name:
		input#fname(type='text' name='fname' value='John')

		label(for='lname') Last name:
		input#lname(type='text' name='lname' value='Doe')

		input#but1(type='submit' value='Submit')


	script(src='exampleComp2/MyForm.js' type='module')
