#main-card.card
    article
    .card-body
        .main-card-title
            h5.card-title=title
        .row.main-card-content
            img(src=image) 
            p.card-text=content
        .row.main-card-meta
            include /assets/pug/main-card/main-card-single-footer.pug