.content-entry-wrap  
    input.toggle#content-entry-toggle__input(type="checkbox")
    label.content-entry-toggle__text(for="content-entry-toggle__input") Create Content
    .content-entry-collapsible 
        .content-entry-collapsible-inner
            .row 
                .col-md-12.content-entry-fields
                    input.content-entry-fields--title(type="text" name="user-post-title" placeholder="Enter a title (optional)")
                    input.content-entry-fields--links(type="text" name="user-post-title" placeholder="Paste links (optional)")
                    textarea.content-entry-fields__textarea(name="user-post-content" placeholder="Start typing")
            .row 
                .col-md-10
                    //- text
                .col-md-2.d-flex.justify-content-end
                    button.content-entry-submit__button Post