.col.cr-eula-inner
    p.cr-eula__copyright © 2021 Urbanity
    .cr-eula__links 
        a(href="") Privacy Policy 
    .cr-eula__links 
        a(href="") Terms of Service
    .cr-eula__links 
        a(href="") Payment Processing 
    .cr-eula__links 
        a(href="") EULA