
head
	meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
	meta(name='viewport' content='width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')

	link(href='https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap' rel='stylesheet')
	
	link(rel='stylesheet' href='/assets/css/stylize.css')

	style.
		nav a:hover {
			background-color: var(--text-light);
			color: var(--text);
		}

		:root {
			--text: #333333;
			--text-med: #888888;
			--text-light: #cccccc;
			--text-lighter: #eeeeee;
			--blue: #3498db;
			--dark-blue: #2980b9;
			--yellow: #ffeaa7;
			--red: #c0392b;
			--border-radius: 20px;

			--color-accent: rgb(201,84,84);
		}

	script.

body
	header
		nav
			a(href='#') Nav Link 1
			a(href='#') Nav Link 2
			.right
				a(href='#') Nav Link 3

	.narrow
		h1 Stylize.css
		blockquote
			| A beautiful alternative to CSS resets &amp; normalisers.

	main.narrow
		p We all know that HTML document without CSS sucks. Stylize.css adds a set of CSS to the HTML markup to make it look much better and consistent across browsers.
		p Stylize.css adds styles to the semantic HTML markup. So use tags only and no classes, attributes, etc.

		.spacer
		h3 Links & navigation:
		nav
			a(href='#') Nav Link 1
			a(href='#') Nav Link 2
			.right
				a(href='#') Nav Link 3
		.spacer
		.spacer
		a(href='#') Normal link

		section
			h2 Typography:
			h1 This is a H1 heading
			h2 This is a H2 heading
			h3 This is a H3 heading
			h4 This is a H4 heading
			h5 This is a H5 heading
			h6 This is a H6 heading
			h7 This is a H7 heading

			p Pragraph text. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			.spacer
			strong This is a Strong / Bold text
			.spacer
			i This is an Emphasized / Italic text
			.spacer
			| This is a 
			mark  Marked / Highlighted 
			| text
			.spacer
			small This is a Small text
			.spacer
			| This is a 
			del Deleted 
			| text
			.spacer
			| This is a 
			ins Underlined / Inserted 
			| text
			.spacer
			| This is a 
			sub Subscript
			| text
			.spacer
			| This is a
			sup Superscript
			| text
			.spacer
			pre This is a preformatted text.
			blockquote This is a Blockquote.
			samp This is a sample output.
			.spacer
			| This is the
			code &lt;code&gt;
			| &
			kbd kbd
			
		section
			h2 Lists:
			ul
				li Unordered list item 1
				li Unordered list item 2
				ul
					li Unordered list item 3
				li Unordered list item 4
				li Unordered list item 5
			ol
				li Ordered list item 1
				li Ordered list item 2
				ol
					li Ordered list item 3
				li Ordered list item 4
				li Ordered list item 5

		section
			h2 Form:
			fieldset
				legend This is a legend on fieldset
				form
					.spacer
					label Label:
					input(type='text' placeholder='Text field')
					.spacer
					label Select box:
					select
						optgroup(label='Option group')
							option Option 1
							option Option 2
							option Option 3
					.spacer
					label Numeric Field:
					input(type='number' placeholder='Number' value='0')
					.spacer
					label Checkboxes:
					label Option 1 
						input(type='checkbox' checked)
					label Option 2 
						input(type='checkbox')
					.spacer
					label Radio buttons:
					label Yes 
						input(type='radio' checked)
					label No 
						input(type='radio')
					.spacer
					textarea(placeholder='Textarea' rows='3' cols='50')
					.spacer
					input(type='submit' value='Submit button')
			.spacer
			button Button
			a(href='javascript:void(0)' role='button') Anchor role=button
			input(type='button' value='Input type=button')
			button(disabled) Button
			.spacer
			label Progress bar
			progress(value='22' max='100')

		section
			h2 Table:
			table
				thead
					tr
						th #
						th Name
						th Username
						th Location
				tbody
					tr
						th 1
						td Vasanth
						td @vsnthv
						td Chennai, India
					tr
						th 2
						td John
						td @john
						td USA
					tr
						th 3
						td Chan
						td @chan
						td Hong Kong
			p Table with 
				code border=1
			table(border='1')
				thead
					tr
						th #
						th Name
						th Username
						th Location
				tbody
					tr
						th 1
						td Vasanth
						td @vsnthv
						td Chennai, India
					tr
						th 2
						td John
						td @john
						td USA
					tr
						th 3
						td Chan
						td @chan
						td Hong Kong

		section
			h2 Utility classes:
			p Apart from this, stylize.css comes with few utility classes as below.
			pre &lt;div class="left"&gt; &lt;!-- Float left any element --&gt;
			pre &lt;div class="right"&gt; &lt;!-- Float right any element --&gt;
			pre &lt;div class="center"&gt; &lt;!-- Center align text of any element --&gt;
			pre &lt;div class="hide"&gt; &lt;!-- Hide any element --&gt;
			pre &lt;div class="reset"&gt; &lt;!-- Resets all css of the element --&gt;
			pre &lt;div class="clear"&gt; &lt;!-- Sets clear:both for the element --&gt;
			pre &lt;div class="spacer"&gt; &lt;!-- Adds a breathing space between 2 elements. --&gt;

	.spacer
	footer
		address.center
			small
				a.reset(href='https://twitter.com/vsnthv' target='_blank') Vasanth V
